<div>
  <app-header></app-header>
  <h2>Welcome to {{ title }}</h2>
  <p>This is my first Angular app and I hope I can be {{ message }}. I am excited to learn more about it</p>
  <img src="{{imgURL}}" />
  <img [src]=imgURL />
  <app-navbar></app-navbar>
</div>

<div>
  <button disabled="{{isDisabled}}">Disabled</button>
  <button [disabled]=!isDisabled>Binded Disabled</button>
</div>


<!-- css binding -->

<button [class.active]="isActive" [class.no-active]="!isActive">class</button>


<!-- Event binding -->
<!-- Can create functions in the app class that can be called as events for components on the page -->

<button (click)="buttonClick()">Click me</button>

<input type="text" (keyup)="keyEnter($event)">

<!-- <input type="text" (keyup.a)="keyUpFiltering()"> -->

<input type="text" (keyup.enter)="keyUpFiltering(user)" #user id="userInput">

<!-- two way data binding -->
<!-- can set a variable to the app class and use it to set a default variable name for the input -->

<!-- <input type="text" [value]='userName' #username (keyup.enter)="updateUserName(username)"> -->

<!-- using ngModel with the FormModules import in the comp class, we can remove the #username and call the variable under the input if need be -->

<input type="text" [(ngModel)]="userName">

{{userName}}
